.icon-pickup {
    position: absolute;
    left: 30px;
    top: 130px;

    width: 340px;
    height: 340px;
}

.icon-return {
    position: absolute;
    left: 340px;
    top: 130px;

    width: 340px;
    height: 340px;
}

.icon-download {
    position: absolute;
    left: 650px;
    top: 130px;

    width: 340px;
    height: 340px;
}