#input-code {
    position: absolute;
    left: 128px;
    top: 0;

    box-sizing: border-box;
    width: 896px;
    height: 120px;

    border: none;
    padding-left: 32px;

    font-size: 64px;
    font-weight: bold;
    letter-spacing: 16px;
}

#input-keyboard {
    position: absolute;
    left: 128px;
    top: 118px;
}

#input-keyboard button {
    width: 294px;
    height: 116px;

    background-color: black;
    color: white;

    border: none;
    font-size: 64px;
}