.icon-book {
    position: absolute;
    left: 50px;
    top: 192px;

    width: 256px;
    height: 256px;
}

.icon-shelf {
    position: absolute;
    left: 320px;
    top: 128px;

    width: 384px;
    height: 384px;
}

.icon-lock {
    position: absolute;
    left: 700px;
    top: 192px;

    width: 256px;
    height: 256px;
}