<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Меню</title>
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <a href="/pickup">
            <img class="icon-pickup" src="https://storage.yandexcloud.net/shelf/static/pickup.png" alt="Pickup">
        </a>
        <a href="/return">
            <img class="icon-return" src="https://storage.yandexcloud.net/shelf/static/return.png" alt="Return">
        </a>
        <a href="/download">
            <img class="icon-download" src="https://storage.yandexcloud.net/shelf/static/phone.png" alt="Download">
        </a>
    </body>
</html>