<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Вернуть книгу</title>
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/return.css">
        <script type="text/javascript" src="/static/scripts/return.js"></script>
    </head>
    <body>
        <a class="button-back" href="/">←</a>
        <img class="icon-camera" src="https://storage.yandexcloud.net/shelf/static/camera.png" alt="Scan">
        <img class="icon-book" src="https://storage.yandexcloud.net/shelf/static/book.png" alt="QR">
    </body>
</html>