<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Заказ обработан</title>
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/shelf.css">
        <script type="text/javascript" src="/static/scripts/shelf.js"></script>
    </head>
    <body>
        <h1>Заберите книгу и закройте полку</h1>
        <img class="icon-book" src="https://storage.yandexcloud.net/shelf/static/pickup.png" alt="Book">
        <img class="icon-shelf" src="https://storage.yandexcloud.net/shelf/static/shelf.png" alt="Shelf">
        <img class="icon-lock" src="https://storage.yandexcloud.net/shelf/static/lock.png" alt="Lock">
    </body>
</html>